.carsWrapper{
    background-color: #f4f4f4;
    padding-top: 70px;
    .title{
        margin-top: 70px;
        padding-left: 150px;
        font-size: 60px;
        margin-bottom: 70px;
    }
    .carsViewWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 150px;
        padding-right: 150px;
        align-items: center;
        .cars{
            text-align: center;
            transition: 0.7s;
            padding: 20px;
            .carImg{
                width: 80%;
            }
            .carDetailsWrapper{
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                align-items: center;
                .btnBooking{
                    padding: 7px 35px;
                    background-color: #03de1c;
                    border: none;
                    color: #fff;
                    font-size: 13px;
                }
                .titleCar{
                    font-size: 15px;
                    font-weight: 700;
                }
                .price{
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }
        .cars:hover{
            box-shadow: 2px 5px 12px -1px rgba(66, 68, 90, 1);
        }
    }
    .btnWrapper{
        margin-top: 30px;
        text-align: center;
        .btnMore{
            padding: 7px 25px;
            border: none;
            background-color: #282828;
            font-size: 13px;
            color: #fff;
            cursor: pointer;
        }
    }
}