.pageCardWrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    .cardWrapper{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        .formControl{
            width: 100%;
            padding: 7px 20px;
            font-size: 17px;
        }
        .inputCardWrapper{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .expiryWrapper{
                display: flex;
                gap: 5px;
            }
        }
    }
    .btnPayWrapper{
        text-align: end;
        margin-top: 10px;
        .btnPay{
            border-radius: 4px;
            padding: 10px 25px;
            color: #fff;
            background-color: #de91d1;
            cursor: pointer;
            border: none;
            font-size: 14px;
        }
    }
}