.navigationMainPage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #000;
    .navList{
        display: flex;
        .link{
            text-decoration: none;
            color: #fff;
            font-size: 17px;
            transition: 0.4s;
            padding-top:40px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
        }
        .link:hover{
            background-color: #03de1c;
            padding-top:40px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
        }
    }
}
.burgerBtn {
    display: none;
    color: #fff;
}

.navigationWrapper{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: -80px;
    .navList{
        display: flex;
        .link{
            text-decoration: none;
            color: #fff;
            font-size: 17px;
            transition: 0.4s;
            padding-top:40px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
        }
        .link:hover{
            background-color: #03de1c;
            padding-top:40px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
        }
    }
}
/*burger*/

.burgerWrapper {
    display: block;
    cursor: pointer;
    .line {
        width: 2em;
        height: .2em;
        background: #fff;
        margin: .6em;
        transition: .3s ease-in-out;
    }
}

/*media*/

@media(max-width: 900px) {
    .logoWrapper {
        display: none;
    }
    .navigationMainPage {
        justify-content: center;
    }
}

@media(max-width: 500px) {
    .navigationMainPage {
        .burgerBtn {
            display: block;
        }
        .navList{
            .link {
                font-size: 8px;
            }
        }
    }
}